.flex {
  display: flex;
}

.item {
  margin: 10px;
}

.left {
  position: fixed;
  left: 0;
  width: 25%;
}

.right {
  position: fixed;
  overflow: auto;
  right: 0;
  width: 75%;
  height: 90%;
}

.messages {
}

.button-small {
    font-size: 12px;
    padding: 1px 1px;
}